replicaCount: ${replicas}

service:
  type: ClusterIP

ingress:
  enabled: true
  hostname: ${hostname}
  path: /*
  annotations:
    kubernetes.io/ingress.class: "alb"
    alb.ingress.kubernetes.io/scheme: "internet-facing"
    alb.ingress.kubernetes.io/target-type: "ip"
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS": 443}]'
    alb.ingress.kubernetes.io/security-groups: ${security_groups_id}
    alb.ingress.kubernetes.io/load-balancer-name: ${alb_name}
    alb.ingress.kubernetes.io/ssl-policy: ${ssl_policy}
    alb.ingress.kubernetes.io/wafv2-acl-arn: ${wafv2_arn}
    alb.ingress.kubernetes.io/load-balancer-attributes: |
      deletion_protection.enabled=true,
      access_logs.s3.enabled=true,
      access_logs.s3.prefix=access-logs,
      access_logs.s3.bucket=${s3_bucket_logs},
      connection_logs.s3.enabled=true,
      connection_logs.s3.prefix=connection-logs,
      connection_logs.s3.bucket=${s3_bucket_logs}
  tls: true