replicaCount: ${replicas}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  hostname: ""
  annotations:
    kubernetes.io/ingress.class: "alb"
    alb.ingress.kubernetes.io/scheme: "internet-facing"
    alb.ingress.kubernetes.io/target-type: "ip"
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS": 443}]'
    alb.ingress.kubernetes.io/security-groups: ${security_groups_id}
    alb.ingress.kubernetes.io/load-balancer-name: ${alb_name}
    alb.ingress.kubernetes.io/ssl-policy: ${ssl_policy}